.main-container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.grid-three {
    max-width: 100vw;
    width: 100%;
    text-align: center;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    /* Define Auto Row size */
    /*Define our columns */ 
}

.big-metric {
    color: #ffff8d;
    background-color: #333;
    padding: 40px;
}

@media screen and (max-width: 768px) {
    .grid-three {
        grid-template-columns: 1fr;
    }
   
}


.footer {
    padding-top: 24px;
}

.section {
    padding-bottom: 20px;
}